@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body{
    background-image: linear-gradient(150deg,orange,white, white,green);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#header{
    background-image: url("https://i.pinimg.com/originals/e1/a2/7d/e1a27da7a550498fb4110f3bf1b35dff.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2%;
    text-align: center;
    border: 3px inset black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px;
    text-decoration: underline;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}
#navigation{
    margin-left: 3%;
}
.navig{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
#tajmahal{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#goldentemple{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#lotustemple{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#hawamahal{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#qutubminar{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#gatewayofindia{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#charminar{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#redfort{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#jantarmantar{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
#sachistupa{
    border: 4px inset black;
    border-radius: 15px;
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}
.image{
    margin: 2%;
    margin-left: 4%;
    margin-bottom: 0%;
}
.inner{
    display: flex;
}
.mon_name{
    width: 25%;
    margin-left: 3%;
    text-align: center;
}
.content{
    margin-top: 2%;
}
footer{
    background-color: black;
    color: white;
    font-family: 'Tajawal', sans-serif;
}
#footer{
    margin-left: 10%;
    padding: 5%;
}